Flask==2.3.2
Flask-Bcrypt==1.0.1
Flask-JWT-Extended==4.5.2
Flask-Mail==0.9.1
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
Flask-Cors==4.0.0
Flask-Login==0.6.3
requests==2.31.0
weasyprint==58.0
python-dotenv==1.0.1
psycopg2-binary==2.9.9
